/*  Fonts awesome*/ /* Para titulo pruebo cc tipografia Young Serif*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Young+Serif&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.portada{
    background-image: url(Imagenes/plato_bien_comer_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;

    
}

/* Pruebas de estilo trabajando el index como si fuera grid*/
 .cuerpo-index {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(2, 1fr);
    background-color:  rgba(88, 111, 38, 0.226);
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    border-radius: 10px;
    letter-spacing: 2px;
 }
 .cuerpo-index > div > h2,h3 {
    text-align: center;
    padding: 0.5%;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    background-color: rgba(88, 111, 38, 0.226);
    border-radius: 10px ;

}
.titulos{
    grid-column-start: 1;
    grid-column-end: 3 ;

}
.videos{
    width: 90%;
    height: 700px;
    border-radius: 10px;
    justify-content: center;
}


.texto-secundario {
    grid-column-start: 1;
    grid-column-end: 3 ;
    background-color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 1.5em;
    padding-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    letter-spacing: 2px;
}

.frase{
    font-weight: bold;
    color: green;
}
.contenedorimagendeportada{
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagendeportada, .videos{
    width: 90%;
    margin: 5%;
    height: 400px;
    border-radius: 10px;

}
.mapa {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    
}
.mapa2{
    border-radius: 10px;
}

.texto-mapa{
    font-size: 20px;
    color: rgb(31, 29, 29);
    letter-spacing: 3px;
    display: grid;
    }
.direccion{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 50px;
    letter-spacing: 3px;
    }
.header {
    text-align: start;
    padding: 20px;
    background-color: rgb(88, 111, 38) ;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    position: sticky; 
    top: 0
    }
    .header>div{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 20px;
        
    }
    .navegador {
        color: white;
        text-decoration: none;
        padding: 15px;
        text-align: end;
        

    }
.search {
    cursor: pointer;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    
}

.logo{
    color: #fff;
    text-decoration: none;
}

/* Hasta aca esta el header */ 
    
nav{
    max-width: 900px;
    margin: auto;
    font-size: 20px;
    margin-top: 50px;

}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal > li{
    text-align: center;
}

.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
}

/*.menu-horizontal > li:hover{
    background-color: yellow;
}*/

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 140px;
    margin-left: 10px;
    text-align: center;
    }



.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: azure;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    background-color: rgb(88, 111, 38);

}
    

ul{
    list-style: none;
}
ul a{
    text-decoration: none;
}

.portada {
    display: flex;
    padding: 20px;
}

.portada-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}


.navbar a{
    text-decoration: none;
    margin-left: 10px;


/* Aca empieza el footer */

}
.footer {
    padding-top: 10px;
    background-color: rgb(88, 111, 38) ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
    
    
}
.footer div {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
   
}

footer> div> ul> li> a {
    text-decoration: none;
    color: white;
}

.redes-icon{
    font-size: 1.5em;
    color: white;
    
    
}

.redes li{
    margin-top: 5px;
}

.texto-footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    background-color: rgb(13, 14, 13);
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
    grid-column-start: 1;
    grid-column-end: 4 ;
    text-align: end;
    
}

.footer-href{
    text-decoration: none;
    color: white;
}

/* Aca termina el footer */

/* Aca empieza nuestros productos */

/* Animation property */


.proximamente {
    width: 50%;
    height: 70px;
    margin: auto;
    border-radius: 5px;
    background: #56aa12;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse 4s infinite; /* 4s is the duration, set it to your preference */
  }
  
  @keyframes pulse {
    0% {
      background-color: #56aa12;
    }
    50% {
      background-color: #739156;
    }
    100% {
      background-color: #56aa12;
    }
  }
  
  /* Remove the background-color change from :hover */
  
.animacion{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    letter-spacing: 1.3em;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    text-indent: 0cm;
    font-weight: bold;
    margin-top: 0px;
}

.texto-productos{
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
    text-indent: 0cm; 
    font-family: 'Montserrat', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:300px 300px 300px;
    gap: 1px;
    padding: 1px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .grid-container > div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
  }



  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 50px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.nav {
    display: none;
    background-color: #333;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin: 0 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

p{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20px;
    text-align: justify;
    text-indent: 1.5cm; 
    font-family: 'Montserrat', sans-serif;
}
h2{
    margin-left: 10%;
}



.formulario{
    margin-bottom: 40px;
    padding-left: 40px;
    
}


.testimonio {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.cuadro-testimonios{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(88, 111, 38);
    margin: 2%;
    padding: 10px;
    border-radius: 10px;
    color: rgb(172, 38, 38);
    font-style: italic;
    }


.titulo-testimonios{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}    

/*Quienes somos*/

.contenedorquienessomos{
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr;
}
.imagenquienessomos{
    margin: 2%;
    text-align: center;
}
.listadodenosotros{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 20px;
    text-align: justify;
    text-indent: 1.5cm; 
    font-family: 'Montserrat', sans-serif;
}


/*Dispositivos pequeños*/
@media screen and (min-width:0px) and
(max-width:672px) {

    .header{
        grid-template-columns:min-content;
        text-align: center;
        }
        .header div{
            margin-bottom: 15px;
        }

    .cuerpo-index{
        grid-template-columns:auto;  
    }
    .texto-secundario{
        grid-template-columns:auto;
    }
    .cuadro-testimonios{
        text-align: justify;
    }
    .texto-mapa{
        text-align: center;
    }
    .mapa{
        width: 100%;
        flex-wrap: wrap;
          }
          .mapa p{
            text-align: center;
          }
    .mapa2{
        margin-right: auto;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .direccion{
        margin-bottom: 30px;
    }
    .menu-vertical a{
        text-align: left;
        }

    .proximamente{
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    .proximamente p{
        width: auto;
        font-size: 0.9em;
    }
    .texto-productos{
        margin-left: 10%;
        margin-right: 10%;
    }
    .grid-container{
        grid-template-columns: auto;
        }


}

/*Dispositivos medianos*/
@media screen and (min-width:673px) and
(max-width:990px) {

    .header h1{
        font-size: 1.2em;   
    }

    .search{
        margin-left: 10px;
        display: flex;
        justify-content: end;
    }

    .navegador li{
        font-size: 75%;
        margin-left: 1px;
    }

    .menu-vertical a{
        list-style: none;
        width: 140px;
        text-align: left;
        font-size: medium;  
        }
    .cuerpo-index{
        grid-template-columns:auto;  
    }
    .texto-mapa{
        text-align: center;
    }
    .mapa{
        width: 100%;
        flex-wrap: wrap;
          }
          .mapa p{
            text-align: center;
          }
    .mapa2{
        margin-right: auto;
        margin-left: 20px;
        margin-bottom: 30px;
    }
    .direccion{
        margin-bottom: 30px;
    }
    .proximamente{
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    .proximamente p{
        width: auto;
    }
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    
}



/*Dispositivos grandes*/
@media screen and (min-width:991px) and
(max-width:1296px) {

}

