/*  Fonts awesome*/ /* Para titulo pruebo cc tipografia Young Serif*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Young+Serif&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    text-align: center;
    padding: 20px;
    background-color: rgb(88, 111, 38) ;
    margin-bottom: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center; 
    }

    .header>div{
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-size: 20px;
    }

    .navegador{
        color: white;
        text-decoration: none;

    }
.search {
    cursor: pointer
    
}
ul{
    list-style: none;
}
ul a{
    text-decoration: none;
}

.portada {
    display: flex;
    padding: 20px;
}

.portada-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.navbar a{
    text-decoration: none;
    margin-left: 10px;
}
footer{
    padding: 20px;
    background-color: rgb(187, 199, 163) ;
    margin-bottom: 0px;
    
}
footer ul{
    text-align: right;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:300px 300px 300px;
    gap: 1px;
    padding: 1px;
    background-color: rgb(201, 233, 187);
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .grid-container > div {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes button to the bottom */
    position: relative; /* Needed for absolute positioning */
  }

  .productos-button{
    position: absolute;
    bottom: 10px; /* Adjust this value to control the button's position from the bottom */
    left: 50%; /* Center the button horizontally */
    transform: translateX(-50%); /* Center the button horizontally */
    
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 50px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.nav {
    display: none;
    background-color: #333;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin: 0 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}